.savelyImg {
    display: block;
}

.savely-btn{
    margin-bottom: 20px;
}

.toolsList {
    width: 40%;
}

.closeWindow {
    margin-top: 20px;
}

.savelyImg {
    margin: auto;
}

header {
    position: relative;
}

.portfolio {
    background: white;
}