* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    z-index: -10;
    top: 0px; 
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: radial-gradient(#ffc38c, #ff9b40);
}